{% extends 'base.html' %} {% block content %}

<style>
  .paypal {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin: 10px auto 1em auto;
    width: 83.5%;
    margin-left: 4.9em;
    transition: 0.5s;
  }

  .button:hover {
    transform: translateY(-1px);
    transform: scale(1.05);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: #43458b;
  }
  .card-element {
    margin-top: 1.5em;
    text-align: center;
    align-self: center;
    margin-left: 3em;
  }
  .StripeElement {
    box-sizing: border-box;
    height: 40px;
    width: 82.5%;
    margin: auto;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
</style>

<script src="https://www.paypal.com/sdk/js?client-id=Aeb3XEedAFGsm2vdZrGtEkf12GuVtjhbhqCtMxDz_IXitJIZ2NcVONizR4LvszqDoDsJIvZvgCdFjFD-&currency=USD"></script>
<script src="https://js.stripe.com/v3/"></script>

<main>
  <div class="container wow fadeIn">
    <h2 class="my-1 mb-3">Complete your order</h2>
    <div class="row">
      <div class="col-md-10 mb-4">
        <div class="card">
          <div class="new-card-form">
            <form method="POST" id="payment-form">
              {% csrf_token %}
              <div class="form-row">
                <label class="card-element" for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>

              <button class="button">Submit Payment</button>
            </form>
            <div class="mt-5 ml-5">
              <b><h6><strong>Paypay payment options</strong></h6></b>
            </div>
            <div id="paypal-button-container" class="paypal"></div>
          </div>
        </div>
      </div>

      <div class="col-md-10 mb-4">
        {% include "order_snippet.html" %}
      </div>
    </div>
  </div>
</main>

<!-- PAYPAL PAYMENTS -->
<script>

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken = getCookie("csrftoken");
  var order_id = "{{order.id}}";
  var total = '{{order.get_total}}'
  var home = "{% url 'home' %}"

  function completeOrder() {
    var url = "{% url 'payment_complete' %}";
    
    fetch(url, {
      method: "POST",
      headers: {
        "Content-type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ 'order_id': order_id }),
    });
  }

  paypal
    .Buttons({
      style: {
        color: "blue",
        shape: "pill",
        label: "pay",
        height: 50,
      },

      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: total,
              },
            },
          ],
        });
      },

      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          completeOrder();
          alert(
            "Transaction completed by " + details.payer.name.given_name + "!"
          );
          window.location.replace(home);
        });
      },
    })
    .render("#paypal-button-container");
</script>
<!-- PAYPAL PAYMENTS -->

<!-- STRIPE PAYMENTS -->
<script>
  // Create a Stripe client.
  var stripe = Stripe("pk_test_WzJ72pb880OTIKZJyL0IseTs0015Rpv8wG");

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: "#32325d",
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#aab7c4",
      },
    },
    invalid: {
      color: "#fa755a",
      iconColor: "#fa755a",
    },
  };

  // Create an instance of the card Element.
  var card = elements.create("card", { style: style });

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount("#card-element");

  // Handle real-time validation errors from the card Element.
  card.on("change", function (event) {
    var displayError = document.getElementById("card-errors");
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = "";
    }
  });

  // Handle form submission.
  var form = document.getElementById("payment-form");
  form.addEventListener("submit", function (event) {
    event.preventDefault();

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById("card-errors");
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById("payment-form");
    var hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", "stripeToken");
    hiddenInput.setAttribute("value", token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }
</script>
<!-- STRIPE PAYMENTS -->
{% endblock %}
